{extend name="base/base" /}
{block name="css"}
<style>
    #echarts {
        padding-bottom: 20px;
        height: 500px;
    }
</style>
{/block}
{block name="main"}
<div class="search-box">
    <div class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            {include file="base/time_default_sevenday"}
            <div class="layui-inline">
                <label class="layui-form-label">平台</label>
                <div class="layui-inline">
                    <select name="platform">
                        <option value="">所有平台</option>
                        {foreach $platform as $key=>$vo }
                        <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">渠道</label>
                <div class="layui-inline">
                    <select name="channel">
                        <option value="">所有渠道</option>
                        {foreach $channel as $key=>$vo }
                        <option value="{$key}">{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="search">搜索</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="export">导出</button>
            </div>
        </div>
    </div>
</div>
<div id="echarts"></div>
<table id="table" lay-filter="table"></table>
{/block}
{block name="script"}
<script src="__STATIC__/echarts/echarts.js" type="text/javascript" charset="utf-8"></script>
<script>
    let myChart = echarts.init(document.getElementById('echarts')); // echarts实例

    layui.use(['table', 'jquery', 'form', 'laydate'], function () {
        let table = layui.table,
            $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            tableClos = JSON.parse('{:json_encode($tableClos)}');

        // 日期
        laydate.render({
            elem: '#start_time',
            type: 'date',
            trigger: 'click',
            format: 'yyyy-MM-dd',
        });

        laydate.render({
            elem: '#end_time',
            type: 'date',
            trigger: 'click',
            format: 'yyyy-MM-dd',
        });

        // 执行渲染
        table.render({
            elem: '#table',
            cols: [tableClos],
            url: '{:url("index/operation.NewUser/index")}',
            where: form.val('form'),
            height: 'full-150',
            cellMinWidth: 100,
            limit: limit,
            limits: limits,
            page: true,
            loading: true,
            parseData: function (res) {
                myChart.clear();
                myChart.setOption(res.option);
                return res.table;
            }
        });

        // 搜索
        form.on('submit(search)', function () {
            table.reload('table', {
                where: form.val('form'),
                page: {
                    curr: 1,
                },
            });
        });

        // 导出
        form.on('submit(export)', function () {
            layer.msg('导出请求中，请勿重复点击~', {icon: 1});
            let param = form.val('form');
            const a = window.document.createElement('a');
            a.href = "{:url('index/operation.NewUser/export')}" + '?' + $.param(param);
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    });
</script>
{/block}