{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text" name="role_name" value="{$model['role_name']}" lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">角色名称格式：2-16个字符，只能包含中文、字母、数字、下划线</div>
    </div>
    <div>{:token('token_edit_role_name')}</div>
    <div class="layui-form-item">
        <div><input type="hidden" name="id" value="{$model['id']}"></div>
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit-edit">确定编辑</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['jquery', 'form'], function () {
        let $ = layui.jquery,
            form = layui.form;

        // 监听提交
        form.on('submit(submit-edit)', function (obj) {
            $.post('{:url("index/system.Role/doEditRoleName")}', obj.field, function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, {icon: 1, time: 500}, function () {
                        let index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layui.table.reload('table');
                    });
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            });
            return false
        })
    });
</script>
{/block}