{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">附件</label>
        <div class="layui-input-inline">
            <select name="id" lay-verify="required">
                <option value="">请选择附件</option>
                {foreach $item as $key=>$vo }
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">附件数量</label>
        <div class="layui-input-inline">
            <input type="number" name="amount" lay-verify="required" placeholder="请输入附件数量" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit-add">确定添加</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form'], function () {
        let form = layui.form;

        form.on('submit(submit-add)', function (obj) {
            parent.addItem(obj.field);
            let index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            return false;
        })
    });
</script>
{/block}