{extend name="base/base" /}
{block name="main"}
<form class="layui-form">
    <blockquote class="layui-elem-quote layui-text">修改密码</blockquote>
    <div class="layui-form-item">
        <label class="layui-form-label">当前密码</label>
        <div class="layui-input-inline">
            <input type="password" name="now_password" lay-verify="required" autocomplete="new-password"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
            <input type="password" name="new_password" lay-verify="required" autocomplete="new-password"
                   class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">密码格式：8-16个字符，只能包含字母、数字、下划线</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input type="password" name="new_password_confirm" lay-verify="required" autocomplete="new-password"
                   class="layui-input">
        </div>
    </div>
    <div>{:token('token_edit_password')}</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit-edit">确定修改</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form'], function () {
        let form = layui.form,
            $ = layui.jquery;

        form.on('submit(submit-edit)', function (obj) {
            $.post('{:url("index/Index/doEditPassword")}', obj.field, function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, {icon: 1, time: 500}, function () {
                        location.href = '{:url("index/Login/index")}';
                    });
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            });
            return false
        })
    });
</script>
{/block}