{extend name="base/base" /}
{block name="main"}
<div class="layui-form">
    {foreach $date as $key=>$vo }
    <div class="layui-form-item">
        <label class="layui-form-label">{$vo}</label>
        <div class="layui-input-block">
            {foreach $game as $id=>$name }
                <input type="checkbox" name="config[{$key}][]" value="{$id}" title="{$name}" lay-skin="primary" {if in_array($id, $config[$key])}checked{/if}>
            {/foreach}
        </div>
    </div>
    {/foreach}
    <div>{:token('token_edit_earn_point_this')}</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit-edit">确定编辑</button>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    layui.use(['jquery', 'form'], function () {
        let $ = layui.jquery,
            form = layui.form;

        // 监听提交
        form.on('submit(submit-edit)', function (obj) {
            $.post('{:url("index/gm.EarnPoint/doEditThisWeekConfig")}', obj.field, function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, {icon: 1, time: 500}, function () {
                        let index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                } else {
                    layer.msg(res.msg, {icon: 2});
                }

                // 刷新table
                parent.layui.table.reload('this_week');
            });
            return false
        });
    });
</script>
{/block}